:root {
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1.3em;
  line-height: 1.5;
}
@media only screen and (min-width: 600px) {
  .maintext{
  max-width: 75vw
  }
}

@media only screen and (min-width: 900px) {
  .maintext{
    max-width: 50vw
  }
}

h1,
h2{
  font-family: 'Arvo', serif;
  line-height: 1.3;
}
h1{
  font-size: 2em;
}
.maintext,
.indexbody{
  height: 75vh;
  background-image: url("whale.jpg.jpg");
}
